name: Avocado Cake CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    name: CI - Test & Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - run: npm install
      - run: npm test -- --watch=false --passWithNoTests
      - run: CI=false npm run build

  #deploy-vercel: auto update 
  #CD local: run auto-update.ps1 to update code
    
